<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Autodatenbank_3._0.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WinHttpHandler" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Autodatenbank_3._0.My.MySettings>
      <setting name="Regkey" serializeAs="String">
        <value />
      </setting>
      <setting name="LicenseName" serializeAs="String">
        <value />
      </setting>
      <setting name="LicenseEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value />
      </setting>
      <setting name="Permission" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FoundLicense" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="connectionstring" serializeAs="String">
        <value />
      </setting>
      <setting name="Ftpserveruri" serializeAs="String">
        <value />
      </setting>
      <setting name="Ftpusername" serializeAs="String">
        <value />
      </setting>
      <setting name="Ftppassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LicensePlate" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="PermissionKey" serializeAs="String">
        <value>0000000</value>
      </setting>
      <setting name="RememberLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NFCVerify" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmartphoneVerify" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>330</value>
      </setting>
      <setting name="OldPassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sftp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="keyfile" serializeAs="String">
        <value />
      </setting>
      <setting name="keyfilepass" serializeAs="String">
        <value />
      </setting>
      <setting name="SFTPServerUri" serializeAs="String">
        <value />
      </setting>
      <setting name="SFTPUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUserLog" serializeAs="String">
        <value />
      </setting>
      <setting name="hourlywage" serializeAs="String">
        <value>50.00</value>
      </setting>
      <setting name="Logowidth" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="Logoheight" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="CompName" serializeAs="String">
        <value />
      </setting>
      <setting name="CompStreet" serializeAs="String">
        <value />
      </setting>
      <setting name="CompCity" serializeAs="String">
        <value />
      </setting>
    </Autodatenbank_3._0.My.MySettings>
  </userSettings>
</configuration>